nav(role="navigation" class="nav")
  ul.cf
    li
      a(href="index.html") Home
    li
      a(href="litigation.html") Litigation
    li
      a(href="business.html") Business Law
    li
      a(href="estate.html") Estate Planning
    li
      a(href="leadership.html") Leadership

