extends partials/layout

block content

  header(role="banner")

    img.logo(src="assets/img/badge.svg")
    include ./partials/nav.jade

  .content(role="main")

   section.cf
      h2 Business Law
      p Our community is defined by its small business owners and professional service providers. However, many a business is bogged down by inefficient corporate form, flawed contract negotiations and other common-place errors that a non-lawyer could not be expected to be aware of. 

      p We are committed to the ideal of honest representation and upfront costs. We can help you develop a business, grow a business, include new owners, terminate the business, or restructure it. Below are some of the areas We can assist you with, and the prices for my services. Please note that this does not include statutory fees or costs of publishing announcements.

    section.cf
      h2 Our Services
      ul.accordion
        li
          label(for="cp-1") 
            h3 Formation
          input(type="radio", name="a", id="cp-1")
          div.accordion-content
            p Corporation, S-Corporation, Limited Liability Company, Limited Liability Partnership and Charitable Organization: $500. This price includes our discussions, drafting the Certificate of Incorporation and By-Laws, obtaining a Tax ID number from the IRS. The only thing excluded from this total are associated State and Federal fees, obtaining any licenses in relation to the business (a liquor license, for example) and any customized Shareholder or Buy-Sell agreement.

            p Professional Corporation, Professional Limited Liability Company/Partnership: $1000. This service is for companies that require a professional license, including one to practice law, medicine and dentistry. This price includes our discussions, drafting the Certificate of Incorporation and By-Laws, obtaining a Tax ID number from the IRS. The only thing excluded from this total are associated State and Federal fees and any customized Shareholder or Buy-Sell agreement.

        li
          label(for="cp-2") 
            h3 Purchase, Sale or Investment into a Business
          input(type="radio", name="a", id="cp-2")
          div.accordion-content
            p We can help you purchase or sell an existing business, including negotiating the contract of sale, purchase of existing inventory, and transfer of good will. We can also help you purchase, sell or transfer a franchise (McDonalds, Dunkin Donuts). We will diligently ensure that the business you are purchasing is a legal, legitimate operation, and that there are no tax, judgment or pending litigation liens upon it. 

            p We will handle all phases of the transfer, and work together with you. 
            Our goal is to help you ensure your transfer is successful without draining your finances or rendering legal services beyond your budget.

        li
          label(for="cp-3") 
            h3 License Acquisition and Renewal
          input(type="radio", name="a", id="cp-3")
          div.accordion-content
            p We can assist you in obtaining a professional or business license. These include food distribution (liquor, restaurant, catering), automotive (garages, repair shops, inspection) services (childcare, elder care, etc.) and a whole host of other licenses required both by New York State and by the various Federal agencies. Our fee, depends on the complexity of the license and of your requirements.

        li
          label(for="cp-4") 
            h3 Termination or Transfer of Business
          input(type="radio", name="a", id="cp-4")
          div.accordion-content
            p Our firm can assist all in asset liquidation, debt management and distribution of remaining assets. We can negotiate the transfer of the business to a third-party, as well as assisting in removing, either voluntarily or by force, one of the partners or investors in a business. 

        li
          label(for="cp-5") 
            h3 Shareholder and Partnership Agreements
          input(type="radio", name="a", id="cp-5")
          div.accordion-content
            p Any business with more than one owner or shareholder should have an agreement that states who owns what percentage of the assets, profits and liabilities. Such an agreement must also reflect all contingencies, including death, incapacity or serious disputes between partners and shareholders, as well as a method for valuing shares and allowing new members to enter the organization. 
            

