extends partials/layout

block content

  header(role="banner")

    img.logo(src="assets/img/badge.svg")
    include ./partials/nav.jade

  .content(role="main")

    section.cf
      .column
        h2 How we work 
        p We disclose our full process to you. There are never hidden fees. All of our costs are clear and upfront. We're attentive, we communicate clearly so that you are confident and informed about your case.
      
      .column  
        h2 Why we win
        p We're agressive. We don't let bureaucracies or bullies stand in our way. We're also diligent. Having a career long focus on the specific nuances of New York law gives us major advantage.

    section.cf
      h2 We Provide an Elite Service
      p We believe elite service can be provided at a reasonable price. Integrity, honesty and transparency are forgotten qualities in this business. Our commitment to you is based on these qualities. We want to resolve your case quickly. When you win, we win. Furthermore, our practice is available to you where you live or work.

