extends partials/layout

block content

  header(role="banner")

    img.logo(src="assets/img/badge.svg")
    include ./partials/nav.jade

  .content(role="main")

   section.cf
      h2 Litigation
      p Litigation (lawsuits representing either a plaintiff or a defendant) is my specialty. Below are several of the more common examples of the type of litigation that I can assist you with. However, this list is not exhaustive. If you have a matter that does not fit into one of the categories below, feel free to call and I will personally advise you as to your options. 
      
      p Depending on the case in question, litigation matters can be based on a flat fee, an hourly rate, a contingency, or a combination of the above. I believe greatly in risk sharing, and am willing to take a lower flat or hourly fee if I have a stake in the outcome of the case.

    section.cf
      h2 Our Services
      ul.accordion
        li
          label(for="cp-1") 
            h3 Commercial Litigation
          input(type="radio", name="a", id="cp-1")
          div.accordion-content
            p Commercial litigation is defined as the complex area of lawsuits that are spawned when business relationships go sour. The most common example of matters in this area are breaches of contract. Parties to contracts often find themselves receiving something altogether different than what they bargained for. Alternatively, you may find that someone you agreed to work with is no longer performing their duties. Breach of contract comes in a variety of fact patterns, but the constant is that an agreement, written or verbal, was breached, and you suffered financial lose as a result.

            p However, there are many other forms of commercial litigation. Trademark infringement, licensing abuse, real estate sales and many other cases fall under this broad category. Therefore, if you have a question, do not hesitate to call me and ask.

        li
          label(for="cp-2") 
            h3 Breach of Fiduciary Duty and Fraud
          input(type="radio", name="a", id="cp-2")
          div.accordion-content
            p Many of us do business with those whom we must trust with our best interests. This includes brokers, investment managers, agents and even lawyers. That relationship of duty and trust is called a fiduciary relationship. If the party in whom you put your faith is either careless or abusive of that trust, you may have an action against them. As these actions are based not on contract but on a willfull or negligent act, there may be damages available that exceed what the breach cost you directly. This cause of action is also relevant when one is contemplating action against a business partner or fellow shareholder in a corporation. For more on this overlap, please see my Business Law tab.

            p Fraud, on the other hand, does not require as intimate a level of trust or dependence. Fraud merely requires a mistatement or ommission of a critical fact that results in you being cheated for the benefit of the other party. These cases can involve agreements, sales of homes, securities or personal property, business arrangements, and other exchanges were a lie put you in an unenviable position.

        li
          label(for="cp-3") 
            h3 Insurance and Homeowners Litigation
          input(type="radio", name="a", id="cp-3")
          div.accordion-content
            p Often, insurance companies will seek to avoid paying much or all parts of a claim. When settling with such a company is not possible, only litigation will force them to cooperate. Common examples include homeowner policies, business loss policies and disability benefits. My goal in such matters is to immediately figure out how much the insurance company is willing to settle for, and then deciding on whether the case is to be settled, or should proceed to trial.

        li
          label(for="cp-4") 
            h3 Negotiations, Arbitrations and Mediations
          input(type="radio", name="a", id="cp-4")
          div.accordion-content
            p Many cases are more cheaply settled through what is referred to as "Alternative Dispute Resolution" channels. These include Arbitration (which is binding) and Mediation (which is not). With my litigation experience, I can help you achieve your goals and save you money. I can also assist you in negotiating contracts, severence agreements, prenuptual agreements, separations and business agreements.

        li
          label(for="cp-5") 
            h3 Administrative Article 78 Challenges
          input(type="radio", name="a", id="cp-5")
          div.accordion-content
            p In the State of New York, when a citizen is adversely affected by a governmental or semi-governmental body, he or she must file an Article 78 proceeding. Typical cases include State-funded employers who refuse you for a job, any licensing board, school districts and municipalities. This list also includes non-governmental bodies such as large cooperative housing boards and universities. With my experience and no-nonsense approach, I can put your case before the courts in a way that will get you the judicial intervention you need to preserve your rights.

        li
          label(for="cp-6") 
            h3 General Litigation Defense
          input(type="radio", name="a", id="cp-6")
          div.accordion-content
            p Anything not mentioned above could fairly be classified as general litigation. This category also includes if you are being sued, be it for a breach of contract, breach of a statutory duty or an injury action. I can help you, and I am willing to devise a "reverse contingency", where I receive more money if your outcome is lowered or eliminated liability.

